/* Test class */

.test {
    background-color: brown;
}

.test2 {
    background-color: blanchedalmond;
}

.test3 {
    background-color: black;
}

/* end */

/* Create post page */

textarea.createPost {
    width: auto;
    height: 10em;
    resize: none;
}

/* View timeline page */

div.post-container {
    margin: 20px;
    padding: 1%;
    height: auto;
    border-width: 10px;
    border-radius: 10px;
    border-color: black;
    background-color: rgb(139, 73, 73);
    position: relative;
    z-index: 1;
    overflow-wrap: break-word;
}

div.post-container::before {
    content: '';
    position: absolute;
    align-self: center;
    width: 0;
    height: 0;
    left: -15px;
    top: 5px;
    z-index: 0;
    border: medium solid rgb(139, 73, 73);
    border-width: 20px 20px 20px 0;
    border-color: transparent rgb(139, 73, 73) transparent transparent;
}

div.timeline {
    padding-left: 2%;
    margin: 3%;
    margin-top: 7%;
    margin-bottom: 0%;
}

div.timeline::before{
    content: 'Now';
    position: absolute;
    border: medium solid black;
    border-radius: 10px;
    width: auto;
    font-size: large;
    padding: 2px;
    top: 10vh;
    left: 2px;
}

div.timeline::after{
    content: '';
    position: absolute;
    width: 5px;
    background-color: black;
    left: 2.2vh;
    top: 14.5vh;
    bottom: -14.5vh;
}

/* Side navbar */

a.menuitem {
    text-decoration-line: none;
    color: black;
}

th.menuHeader {
    height: auto;
}

tr.menuitem {
    height: 9vh;
}

td.menuitem {
    text-align: center;
}

div.navbarcol {
    background-color: rgb(139, 73, 73);
    height: 100%;
    padding-left: 0%;
    padding-right: 0%;
    text-justify: auto;
}

div.maincol {
    background-color: whitesmoke;
    height: 100%;
    padding-left: 0%;
    padding-right: 0%;
    overflow-y: auto;
}

div.rowmain {
    height: 100%;
    overflow-y: auto;
}

/* Home Screen card */

img.homescreenprofile {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

/* Alerts */

li.alert {
    margin-left: 3%;
    padding: 0 0;
}

/* .container-fluid{
    background-color: rgb(236, 106, 106);
} */