{% extends "TimeFollow/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<div class="container-fluid page-header text-center" style="margin: 0%;">
  <header>
    <h1>{{ user.username }}'s profile</h1>
  </header>
</div>

{% include 'TimeFollow/snippets/alertTemp.html' %}

<div class="container-fluid">
  {% csrf_token %}
  {% crispy form %}
</div>

<br>
<div class="passchange">
  <button class="btn btn-primary" ><a class="passchange" href="{% url 'passwordchange' %}">Change Password</a></button>
</div>

{% endblock start %}