{% extends "TimeFollow/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<div class="container-fluid page-header text-center" style="margin: 0%;">
    <header>
        <h1>{{ user.username }}'s profile</h1>
    </header>
</div>

<div class="container-fluid">
    {% if messages %}
    <div class="alert alert-{{ alerttype }}" role="alert">
      <strong>Errors:</strong>
      <ul class="list-group">
        {% for message in messages %}
        <li class="alert">{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>

<div class="container-fluid">
    {% csrf_token %}
    {% crispy form %}
</div>

{% endblock start %}