{% extends 'TimeFollow/index.html' %}
{% load crispy_forms_tags %}
{% block start %}
<div class="container-fluid page-header text-center" style="margin: 0%;">
    <header>
        <h1>{{cUser}}'s timeline</h1>
    </header>
</div>

<div class="container-fluid">
    {% if messages %}
    <div class="alert alert-{{ alerttype }}" role="alert">
      <strong>Alerts:</strong>
      <ul class="list-group">
        {% for message in messages %}
        <li class="alert">{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
</div>

<!-- TODO create new timeline display -->
{% if hasPosts %}
<div class="container-fluid">
    <div class="container-fluid timeline-container">
        {% for year, yearposts in posts.items %}
        <!--year-->
        <div class="timeline">
            <div class="timeline-year">
                <p>
                    <b>{{ year }}</b>
                </p>
            </div>

            <!--month-->
            <table class="table timeline-month">
            {% for month, monthposts in yearposts.items %}
                <th class="month">
                    {{ month }}
                </th>

                {% for p in monthposts  %}
                <!-- post-->
                <tr>
                    <td class="post">
                        <div class="post-content">
                            <span>
                                <p class="text_break">
                                    {{ p.content }}
                                </p>
                            </span>
                            <sub>
                                {{ p.day }}, {{ p.time }}
                            </sub>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}

            </table>

        </div>
        {% endfor %}

    </div>

</div>
{% else %}
<div class="" style="text-align: justify">
    <p class="text-center test2" style="font-size: large;">
        This user has not posted anything yet.
    </p>
</div>
{% endif %}
{% endblock start %}